#correo{
	margin-bottom: 5px;
}
#contraseña{
	margin-bottom: 5px;
}

form{
	margin-top: 50%
}

body{
	background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-tech-circuit-board-technology-animated-background-video-graphic-design-hd-1920x1080_ewva7rwie__F0000.png);
	background-size: cover;



}

label{
	font-family: 'Raleway';
	font-size: 18px;
}
