.jumbotron{

	margin-top: 70px;
}

body{
font-family: 'Raleway', sans-serif;/*	padding: 10px;
	border: 10px;
	margin: 10px;*/

}



/*h1{
	font-family: 'Railway';
}

h4{
	font-family: 'Railway';
}

select{
	font-family: 'Railway';

}
*/
